.p1-background {
    z-index: -1;
    width: 97.9%;
    height: 95.5%;
    position: fixed;
    margin-top: -60px;
    margin-left: -10px;
    margin-right: -100px;
    border: 20px solid rgb(0, 0, 0); 
    border-style:double;
}

.p2-background {
    z-index: -1;
    width: 97.9%;
    height: 95.5%;
    position: fixed;
    margin-top: -30px;
    margin-left: -10px;
    margin-right: -100px;
    border: 20px solid rgb(0, 0, 0); 
    border-style:double;
    
    
    
}

.p1-picture {
    margin-left: 200px;
    margin-top: 60px;
    max-width: 200px;
    max-height: 200px;
    border: 8px solid rgb(0, 0, 0); 
    border-style:double;
}

.p2-picture {
    margin-left: 25px;
    margin-top: 30px;
    max-width: 400px;
    max-height: 600px;
    
    
}


.name {
    margin-left: 160px;
    margin-top:10px;
    text-align:center;
    max-width: 300px;
    max-height: 265px;
    font-size: 30px;
    font-weight:900 ;
}

.p1-pic-caption {
    color: rgb(0, 0, 0);
    font-size: 17px;
    margin-left: 165px;
    margin-top: -15px;
}

.p2-pic-caption {
    color: rgba(210, 231, 15, 0.719);
    font-size: 50px;
    margin-left: 25px;
    margin-top: -5px;
    text-shadow: -1px 1px 2px rgb(0, 0, 0),
                  1px 1px 1px rgb(0, 0, 0),
                  1px 1px 1px rgb(0, 0, 0)
}

.socials {
    margin-left: 275px;
    margin-top: -10px;
}


a {
    font-size: 20px;
    color: rgb(0, 0, 0);
}
 
a:hover {
    color: rgb(56, 59, 48);
}

.p1-quote1 {
    margin-top: -340px;
    margin-right: 60px;
    margin-left: 600px;
    justify-content: right;
    color:rgb(88, 87, 100);
    display: flex;
    font-size: 2.5em;
    font-style: italic;
    text-shadow: -1px 1px 2px rgb(209, 179, 8),
                  1px 1px 0 rgb(0, 0, 0),
}

.p1-quote2 {
   margin-right: 100px;
    justify-content: right;
    align-items: normal;
    color:rgb(88, 87, 100);
    display: flex;
    font-size: 2.5em;
    text-shadow: -1px 1px 2px rgb(209, 179, 8),
                  1px 1px 0 #000,               
}

.p2-quote {
    margin-top: -675px;
    margin-right: 60px;
    margin-left: 600px;
    justify-content: right;
    color:rgba(210, 231, 15, 0.719);
    display: flex;
    font-size: 2.5em;
    font-style: italic;
    text-shadow: -1px 1px 2px rgb(0, 0, 0),
                  1px 1px 1px rgb(0, 0, 0),
                  1px 1px 1px rgb(0, 0, 0)
}

.p2-pic-caption {

}

.button { 
        cursor: pointer; 
        border: 2px solid rgba(248, 218, 182); 
        background-color: transparent; 
        height: 75px; 
        width: 200px; 
        color: rgb(248, 218, 182); 
        font-size: 2em; 
        box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.7); 
        margin-left: 210px ;
        margin-top: 80px;
        
}
